*{
    padding: auto;
    margin: auto;
}

header{
    font-size: 50px;
    background-color: #ef4444;
    text-align: center;
}

.container{
    display: flex;
    text-align: center;
}

form button {
    padding: 5px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 3px solid #ef4444;
}
form input {
    padding: 5px 20px;
    margin: 20px;
    border: 3px solid #ef4444;
}

.result{
    text-align: center;
    margin-top: 20px;
    position: relative;
    display: block;
}
